* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.user {
  flex-basis: 30%;
  border: 1px solid black;
  margin-top: 20px;
  height: 200px;
  overflow: hidden;
}

.user h2 {
  color: white;
  background: teal;
  padding: 25px 0;
}

.user p {
  margin-top: 10px;
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}