body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.user-card {
  border: 1px solid black;
  margin: 20px 0;
}
