.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #222; */
  height: 150px;
  padding: 20px;
  color: black;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  box-shadow: 0 8px 6px -6px black;
  text-shadow:
		-1px -1px 0 white,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: 'Notable', sans-serif;

 
}

.listButton {
  height: 40px;
  width: 250px;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  cursor: pointer;
  font-family: 'Notable', sans-serif;

}

.listButton:focus {outline: none;}

.listButton:hover {background-color:  #ff4e00;}

.listButton:active {
  background-color: #ff4e00;
  box-shadow: 0 5px #666;
  transform: translateY(4px)
}


.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
